body{
    background-color: rgb(189, 228, 208);
}
h1{
    margin: auto;
    padding: 2vh 2vw 2vh 2vw;
    width: fit-content;
    font-size: 40px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(66, 188, 127);
    text-shadow: 2px 2px 2px rgb(173, 173, 173);
}
.container{
    margin: auto;
    padding: 1vh 1vw 1vh 1vw;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(222, 250, 232);
    width: fit-content;
    position: relative;
    top: 1vh;
}
.container-elements{
    display: block;
    margin: 1vh auto 1vh auto;
    border-radius: 5px;
    width: 45vw;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}